
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;
    font-family: 'Arial';  
}  
.first{
    background-color:#80a805;
    margin-top: 0%;
    width:1110px;
    display: flex;
    margin-left: 10%;
    margin-bottom: 0%;
    margin-right: 10%;
    position: absolute;
}
img{ 
    margin-left: 50%;
    margin-top: 1.5%;
    margin-bottom: 11%;
    
}
form label{
    display: flex;
    margin-top: 25px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;

}
.login{  
        width: 350px;     
        margin: 0.5% 3% 4% 15%; 
        padding: 40px;  
        background: white;  
        border-radius: 1px ;  
            
} h1{
  
    text-align:center ;  
    color:black;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#yourname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;
    margin-bottom: 5%;  
    border-bottom: 2px solid black;

}

#Passwd{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    border-bottom: 2px solid black;
      
}  
#Logging{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 3px;  
    color: black;  
    margin: 10% 0 20% 0;

    
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  

p{
    margin-top: -15%;

}